<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Constructor Injections -->

	<!-- <bean id="myFortuneService" class="com.luv2code.springdemo.DI.HappyFortuneServiceImpl"> 
		</bean> <bean id="myBaseballCoach" class="com.luv2code.springdemo.DI.BaseballCoach"> 
		<constructor-arg ref="myFortuneService" /> </bean> <bean id="myCricketCoach" 
		class="com.luv2code.springdemo.DI.CricketCoach"> <constructor-arg ref="myFortuneService"/> 
		</bean> -->

	<!-- Setter injection -->
	<!-- <bean id="myFortuneService" class="com.luv2code.springdemo.DI.SetterInjection.HappyFortuneServiceImpl"> 
		</bean> <bean id="myCricketCoach" class="com.luv2code.springdemo.DI.SetterInjection.CricketCoach"> 
		<property name="fortuneService" ref="myFortuneService" /> </bean> -->
	<!-- Injecting literals Values -->
	<!-- <bean id="myFortuneService" class="com.luv2code.springdemo.DI.InjectingLiterals.HappyFortuneServiceImpl"> 
		</bean> <bean id="myCricketCoach" class="com.luv2code.springdemo.DI.InjectingLiterals.CricketCoach"> 
		<property name="fortuneService" ref="myFortuneService" /> <property name="emailAddress" 
		value="pradeep@gmail.com" /> <property name="team" value="FCbarcelona" /> 
		</bean> <bean id="myBaseBallCoach" class="com.luv2code.springdemo.DI.InjectingLiterals.BaseballCoach"> 
		//set uo setter injection <property name="fortuneService" ref="myFortuneService" 
		/> //inject literal values //Will call respective setter methods <property 
		name="emailAddress" value="baseballCoach@gmail.com" /> <property name="team" 
		value="Real madrid" /> </bean> -->

	<!-- Injecting values from the property file -->

	<!-- Load the properties file -->
	<context:property-placeholder location="classpath:sport.properties" />

	<bean id="myFortuneService"
		class="com.luv2code.springdemo.DI.InjectingLiterals_propertyfile.HappyFortuneServiceImpl">
	</bean>

	<bean id="myBaseBallCoach"
		class="com.luv2code.springdemo.DI.InjectingLiterals_propertyfile.BaseballCoach"
		scope="singleton">
		<property name="fortuneService" ref="myFortuneService" />
		<property name="emailAddress" value="${foo.email}" />
		<property name="team" value="${foo.team}" />
	</bean>

</beans>





